{% extends "base.html" %}
{% block title %}Logging out…{% endblock %}
{% block content %}
<p>Logging out…</p>
<script>
  // Remove anything auth-related you store
  localStorage.removeItem('token');
  localStorage.removeItem('userEmail');   // if you set this anywhere
  sessionStorage.clear();

  // If you ever move tokens to cookies, also expire them here:
  // document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";

  // Go to login
  window.location.replace('/login');
</script>
{% endblock %}
